.searchResult {
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.coverImage {
  flex: 1;
}

.mediaInfo {
  flex: 3;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.imageInfoFlex {
  display: flex;
  align-items: center;
}

.SearchResultButtons {
  margin-top: 8px;
  display: flex;
}

.searchResultButton {
  flex: 1;
  margin-left: 3px;
  margin-right: 3px;
}

.searchResultButton:first-child {
  margin-left: 0px;
}

.searchResultButton:last-child {
  margin-right: 0px;
}

.ratingMenuItem {
  margin: auto;
}
